body {
    background-image: url("./imagens/wallpaper.jpg");
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    overflow-y: hidden; 
    overflow-x: hidden; 
    display: flex;
}

.login-container {
  width: 450px;
  height: 250px;
  background-color: #fff;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

form {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

input[type="button"] {
  width: 40%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #00b0ff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: #007cbf;
}