body {
  background-color: #08122e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  color: #08122e;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #08122e;
  font-size: 1.5rem;
}

button[type='submit'] {
  width: 100%;
  padding: 1rem;
  background-color: #08122e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: white;
  color: #08122e;
}
